.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: right;
  align-items: center;
  gap: 36px;
  width: 1052px;
  height: 105px;
  margin-top: 92px;
  margin-right: 24px;
  margin-left: 24px;
}

.header_link {
  text-underline-offset: 4px;
}

.menu_list {
  display: flex;
  gap: 2rem;
  font-weight: 400;
  font-size: 18px;
  list-style: circle;
}

.menu_item {
  display: list-item;
}

.menu_item_main {
  list-style: none;
}

.header_logo-image {
  max-height: 105px;
  cursor: pointer;
}

.address {
  max-width: 240px;
  margin-right: 65px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover {
  position: relative;
  display: flex;
  width: 1100px;
  height: 757px;
  margin-top: 96px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.title {
  position: absolute;
  top: 165px;
  left: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 355px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  width: 100%;
}

.aligned-text_left {
  text-align: left;
}
.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  margin-left: 28px;
}

.no-letter-spacing {
  margin-right: -28px;
}

.cover_description-text {
  position: absolute;
  bottom: 62px;
  left: 78px;
  z-index: 2;
  display: flex;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  position: absolute;
  right: 50px;
  bottom: 51px;
  z-index: 2;
  align-items: center;
  width: 256px;
  height: 51px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  position: relative;
  width: 1052px;
  height: 692px;
  margin-top: 179px;
}

.lots_heading {
  position: absolute;
  left: 64px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots_card-list {
  position: absolute;
  top: 74px;
  left: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
  height: 563px;
  list-style: none;
}

.card_link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  width: 334px;
  height: 100%;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.card_title {
  position: absolute;
  top: 51px;
  left: 40px;
  z-index: 2;
  width: 254px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card_text {
  position: absolute;
  bottom: 48px;
  left: 40px;
  z-index: 2;
  width: 254px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots_look-more-link {
  position: absolute;
  bottom: 2px;
  left: 64px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  position: relative;
  width: 1052px;
  height: 595px;
  margin-top: 146px;
}

.about_column {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  width: 100%;
  height: 100%;
  list-style: none;
}

.about_logo {
  position: relative;
  top: 35px;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: #000;
}

.about_logo-image {
  width: 148px;
  height: 114px;
}

.about_title {
  justify-self: start;
  margin-top: 136px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about_text {
  align-content: end;
  max-width: 100%;
  margin-top: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about_text-first {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: left;
  gap: 1rem;
  width: 1000px;
  height: 98px;
  margin: 180px auto 88px auto;
}

.footer_menu-list {
  justify-self: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  text-underline-offset: 4px;
  list-style: none;
}

.footer_social-list {
  display: flex;
  justify-self: right;
  gap: 48px;
  list-style: none;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}